<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<!--<p th:if="${registerError}">Wrong user or password</p>-->
<form action="#" th:action="@{/registerUser}" th:object="${registerUser}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" /> <br />

    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />

     <label for="email">Email Id </label>:
    <input type="email" id="email" name="email" /> <br />

    <label for="address">Address:  </label>:
    <input type="address" id="address" name="address" /> <br />


    <input type="submit" value="Register" />
</form>
</body>
</html>

